### połączenie danych z rozbicia miesięcznego w jeden plik

#### klimat

In [1]:
#generowanie listy nazw plików csv
lata = ["2021", "2022", "2023"]
miesiace = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
csv_names_klimat = []

for rok in lata:
    for mc in miesiace:
        csv_names_klimat.append(f"k_d_{mc}_{rok}.csv")
        
csv_names_klimat.append("k_d_11_2020.csv")
csv_names_klimat.append("k_d_12_2020.csv")

In [2]:
#sprawdzenie kodowania plików, read_csv z defaultu ma utf-8
import chardet

file_path = f"dane\\main data\\klimat 2021-2023\\unzipped\\{csv_names_klimat[1]}"

with open(file_path, "rb") as f:
    result = chardet.detect(f.read(100000))  # Próbka pierwszych 100KB
    print(result['encoding'])

Windows-1252

Zmiana kodowania w plikach na utf-8

In [3]:
import chardet

def detect_encoding(file_path):
    with open(file_path, "rb") as f:
        raw_data = f.read(100000)  # Próbka pierwszych 100 KB
        result = chardet.detect(raw_data)
        return result['encoding']

In [4]:
import os

folder_path = "dane/main data/klimat 2021-2023/unzipped"
output_folder = "dane/main data/klimat 2021-2023/unzipped/utf8_files/"

os.makedirs(output_folder, exist_ok=True)

for file in os.listdir(folder_path):
    if file.endswith(".csv"):
        input_file = os.path.join(folder_path, file)
        output_file = os.path.join(output_folder, file)

        encoding = detect_encoding(input_file)
        
        if encoding in ["ISO-8859-1", "latin1"]:
            encoding = "cp852" 

        with open(input_file, "r", encoding=encoding, errors="replace") as f:
            content = f.read()

        with open(output_file, "w", encoding="utf-8") as f:
            f.write(content)

        print(f"Przekonwertowano {file} do UTF-8")

Przekonwertowano k_d_01_2021.csv do UTF-8
Przekonwertowano k_d_01_2022.csv do UTF-8
Przekonwertowano k_d_01_2023.csv do UTF-8
Przekonwertowano k_d_02_2021.csv do UTF-8
Przekonwertowano k_d_02_2022.csv do UTF-8
Przekonwertowano k_d_02_2023.csv do UTF-8
Przekonwertowano k_d_03_2021.csv do UTF-8
Przekonwertowano k_d_03_2022.csv do UTF-8
Przekonwertowano k_d_03_2023.csv do UTF-8
Przekonwertowano k_d_04_2021.csv do UTF-8
Przekonwertowano k_d_04_2022.csv do UTF-8
Przekonwertowano k_d_04_2023.csv do UTF-8
Przekonwertowano k_d_05_2021.csv do UTF-8
Przekonwertowano k_d_05_2022.csv do UTF-8
Przekonwertowano k_d_05_2023.csv do UTF-8
Przekonwertowano k_d_06_2021.csv do UTF-8
Przekonwertowano k_d_06_2022.csv do UTF-8
Przekonwertowano k_d_06_2023.csv do UTF-8
Przekonwertowano k_d_07_2021.csv do UTF-8
Przekonwertowano k_d_07_2022.csv do UTF-8
Przekonwertowano k_d_07_2023.csv do UTF-8
Przekonwertowano k_d_08_2021.csv do UTF-8
Przekonwertowano k_d_08_2022.csv do UTF-8
Przekonwertowano k_d_08_2023.csv do UTF-8
Przekonwertowano k_d_09_2021.csv do UTF-8
Przekonwertowano k_d_09_2022.csv do UTF-8
Przekonwertowano k_d_09_2023.csv do UTF-8
Przekonwertowano k_d_10_2021.csv do UTF-8
Przekonwertowano k_d_10_2022.csv do UTF-8
Przekonwertowano k_d_10_2023.csv do UTF-8
Przekonwertowano k_d_11_2020.csv do UTF-8
Przekonwertowano k_d_11_2021.csv do UTF-8
Przekonwertowano k_d_11_2022.csv do UTF-8
Przekonwertowano k_d_11_2023.csv do UTF-8
Przekonwertowano k_d_12_2020.csv do UTF-8
Przekonwertowano k_d_12_2021.csv do UTF-8
Przekonwertowano k_d_12_2022.csv do UTF-8
Przekonwertowano k_d_12_2023.csv do UTF-8

Połączenie plików

In [5]:
import pandas as pd
 
klimat_csv_concat = []
 
# połączenie plików
for file in csv_names_klimat:
    klimat_csv_concat.append(pd.read_csv(f"dane\\main data\\klimat 2021-2023\\unzipped\\utf8_files\\{file}", \
#                                          encoding="Windows-1252", 
                                         sep=",",\
            names=['Kod stacji',\
                    'Nazwa stacji',\
                    'Rok',\
                    'Miesiąc',\
                    'Dzień',\
                    'Maksymalna temperatura dobowa [°C]',\
                    'Status pomiaru TMAX',\
                    'Minimalna temperatura dobowa [°C]',\
                    'Status pomiaru TMIN',\
                    'Średnia temperatura dobowa [°C]',\
                    'Status pomiaru STD',\
                    'Temperatura minimalna przy gruncie [°C]',\
                    'Status pomiaru TMNG',\
                    'Suma dobowa opadów [mm]',\
                    'Status pomiaru SMDB',\
                    'Rodzaj opadu [S/W/]',\
                    'Wysokość pokrywy śnieżnej [cm]',\
                    'Status pomiaru PKSN']))
    
klimat_csv_concat = pd.concat(klimat_csv_concat, ignore_index=True)

In [6]:
klimat_csv_concat["Miesiąc"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [7]:
klimat_csv_concat["Rok"].unique()

array([2021, 2022, 2023, 2020], dtype=int64)

In [8]:
klimat_csv_concat["Nazwa stacji"].unique()

array(['PSZCZYNA', 'BRENNA', 'LALIKI', 'JABŁONKA', 'RADZIECHOWY', 'ŁAZY',
       'JASTRZĘBIA', 'LIMANOWA', 'PTASZKOWA', 'ŁĄCKO', 'KROŚCIENKO',
       'NIEDZICA', 'KRYNICA', 'BUKOWINA TATRZAŃSKA',
       'DOLINA PIĘCIU STAWÓW', 'PIWNICZNA', 'PORONIN', 'MSZANA DOLNA',
       'DYNÓW', 'SOLINA-JAWOR', 'KOMAŃCZA', 'TARNÓW', 'DRONIOWICE',
       'LGOTA GÓRNA', 'KRAKÓW-OBSERWATORIUM', 'BORUSOWA', 'ŚWIĘTY KRZYŻ',
       'STASZÓW', 'CHORZELÓW', 'ZAWADA', 'JAROCIN', 'CIESZANÓW',
       'STRZYŻÓW', 'CEBER', 'RADZYŃ', 'SMOLICE', 'PUCZNIEW',
       'SKIERNIEWICE', 'JARCZEW', 'PUŁAWY', 'GORZYŃ', 'BABIMOST',
       'WIELICHOWO', 'KOŁUDA WIELKA', 'LEGIONOWO', 'WARSZAWA-BIELANY',
       'WARSZAWA-FILTRY', 'PUŁTUSK', 'WARSZAWA-OBSERWATORIUM II',
       'SZEPIETOWO', 'BIAŁOWIEŻA', 'GOLENIÓW', 'CHRZĄSTOWO',
       'BIEBRZA-PIEŃCZYKÓWEK', 'MARIANOWO II', 'RÓŻANYSTOK', 'BORUCINO',
       'GDAŃSK-RĘBIECHOWO', 'LIDZBARK WARMIŃSKI', 'OLECKO', 'JAB£ONKA',
       'POLANA CHOCHO£OWSKA', '£AZY', 'JASTRZÊBIA', '£¥CKO', 'KROŒCIENKO',
       'BUKOWINA TATRZAÑSKA', 'DOLINA PIÊCIU STAWÓW', 'KOMAÑCZA',
       'ŒWIÊTY KRZY¯', 'STRZY¯ÓW', 'RADZYÑ', 'PU£AWY', 'GORZYÑ',
       'KO£UDA WIELKA', 'PU£TUSK', 'BIA£OWIE¯A', 'CHRZ¥STOWO',
       'BIEBRZA-PIEÑCZYKÓWEK', 'RÓ¯ANYSTOK', 'GDAÑSK-RÊBIECHOWO',
       'LIDZBARK WARMIÑSKI', 'MUSZYNA'], dtype=object)

In [9]:
klimat_csv_concat["Nazwa stacji"] = klimat_csv_concat["Nazwa stacji"].str.replace('£', 'Ł', regex=False)
klimat_csv_concat["Nazwa stacji"] = klimat_csv_concat["Nazwa stacji"].str.replace('Ñ', 'Ń', regex=False)
klimat_csv_concat["Nazwa stacji"] = klimat_csv_concat["Nazwa stacji"].str.replace('¯', 'Ż', regex=False)
klimat_csv_concat["Nazwa stacji"] = klimat_csv_concat["Nazwa stacji"].str.replace('Ê', 'Ę', regex=False)
klimat_csv_concat["Nazwa stacji"] = klimat_csv_concat["Nazwa stacji"].str.replace('Œ', 'Ś', regex=False)
klimat_csv_concat["Nazwa stacji"] = klimat_csv_concat["Nazwa stacji"].str.replace('¥', 'Ą', regex=False)

In [10]:
klimat_csv_concat["Nazwa stacji"].unique()

array(['PSZCZYNA', 'BRENNA', 'LALIKI', 'JABŁONKA', 'RADZIECHOWY', 'ŁAZY',
       'JASTRZĘBIA', 'LIMANOWA', 'PTASZKOWA', 'ŁĄCKO', 'KROŚCIENKO',
       'NIEDZICA', 'KRYNICA', 'BUKOWINA TATRZAŃSKA',
       'DOLINA PIĘCIU STAWÓW', 'PIWNICZNA', 'PORONIN', 'MSZANA DOLNA',
       'DYNÓW', 'SOLINA-JAWOR', 'KOMAŃCZA', 'TARNÓW', 'DRONIOWICE',
       'LGOTA GÓRNA', 'KRAKÓW-OBSERWATORIUM', 'BORUSOWA', 'ŚWIĘTY KRZYŻ',
       'STASZÓW', 'CHORZELÓW', 'ZAWADA', 'JAROCIN', 'CIESZANÓW',
       'STRZYŻÓW', 'CEBER', 'RADZYŃ', 'SMOLICE', 'PUCZNIEW',
       'SKIERNIEWICE', 'JARCZEW', 'PUŁAWY', 'GORZYŃ', 'BABIMOST',
       'WIELICHOWO', 'KOŁUDA WIELKA', 'LEGIONOWO', 'WARSZAWA-BIELANY',
       'WARSZAWA-FILTRY', 'PUŁTUSK', 'WARSZAWA-OBSERWATORIUM II',
       'SZEPIETOWO', 'BIAŁOWIEŻA', 'GOLENIÓW', 'CHRZĄSTOWO',
       'BIEBRZA-PIEŃCZYKÓWEK', 'MARIANOWO II', 'RÓŻANYSTOK', 'BORUCINO',
       'GDAŃSK-RĘBIECHOWO', 'LIDZBARK WARMIŃSKI', 'OLECKO',
       'POLANA CHOCHOŁOWSKA', 'MUSZYNA'], dtype=object)

### generowanie jednego pliku csv ze wszystkimi danymi

Dodanie daty roku kalendarzowego jako kolumny

In [11]:
klimat_csv_concat['Data'] = pd.to_datetime(klimat_csv_concat.rename(columns={'Dzień': 'day', 'Miesiąc': 'month', 'Rok': 'year'})\
                                  [['year', 'month', 'day']])

Eksport połączonych danych hydrologicznych do pliku

In [12]:
from pathlib import Path  
filepath = Path('dane/main data/klimat_merged_data.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
klimat_csv_concat.to_csv(filepath)

#### hydro

In [13]:
#generowanie listy nazw plików csv
lata = ["2021", "2022"]
miesiace = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
csv_names_hydro = []

for rok in lata:
    for mc in miesiace:
        csv_names_hydro.append(f"codz_{rok}_{mc}.csv")

sprawdzenie kodowania plików

In [14]:
#read_csv domyślnie ma utf-8
import chardet

file_path = f"dane\\main data\\hydro 2021-2023\\unzipped\\codz_2022_12.csv"

with open(file_path, "rb") as f:
    result = chardet.detect(f.read(100000))  # Próbka pierwszych 100KB
    print(result['encoding'])

None

In [15]:
with open("dane\\main data\\hydro 2021-2023\\unzipped\\codz_2022_12.csv", "rb") as f:
    print(f.read(20))  # wyświetli pierwsze 20 bajtów

b'" 149180020","CHA\xa3UP'

In [16]:
hydro_22_12 = pd.read_csv("dane/main data/hydro 2021-2023/unzipped/codz_2022_11.csv", sep=",", header=None)
hydro_22_12[hydro_22_12[0] == 149180020]

            0         1         2     3   4   5    6     7     8  9
0   149180020  CHAŁUPKI  Odra (1)  2022  11   1  106  20.9  99.9  9
1   149180020  CHAŁUPKI  Odra (1)  2022  11   2  101  18.5  99.9  9
2   149180020  CHAŁUPKI  Odra (1)  2022  11   3   96  16.3  99.9  9
3   149180020  CHAŁUPKI  Odra (1)  2022  11   4   92  14.9  99.9  9
4   149180020  CHAŁUPKI  Odra (1)  2022  11   5   93  15.5  99.9  9
5   149180020  CHAŁUPKI  Odra (1)  2022  11   6   89  13.9  99.9  9
6   149180020  CHAŁUPKI  Odra (1)  2022  11   7   87  13.2  99.9  9
7   149180020  CHAŁUPKI  Odra (1)  2022  11   8   94  16.5  99.9  9
8   149180020  CHAŁUPKI  Odra (1)  2022  11   9  114  24.9  99.9  9
9   149180020  CHAŁUPKI  Odra (1)  2022  11  10   95  16.1  99.9  9
10  149180020  CHAŁUPKI  Odra (1)  2022  11  11   98  17.4  99.9  9
11  149180020  CHAŁUPKI  Odra (1)  2022  11  12  110  22.8  99.9  9
12  149180020  CHAŁUPKI  Odra (1)  2022  11  13  104  19.8  99.9  9
13  149180020  CHAŁUPKI  Odra (1)  2022  11  14  100  18.3  99.9  9
14  149180020  CHAŁUPKI  Odra (1)  2022  11  15  110  22.8  99.9  9
15  149180020  CHAŁUPKI  Odra (1)  2022  11  16  129  32.7  99.9  9
16  149180020  CHAŁUPKI  Odra (1)  2022  11  17  113  23.9  99.9  9
17  149180020  CHAŁUPKI  Odra (1)  2022  11  18  133  34.8  99.9  9
18  149180020  CHAŁUPKI  Odra (1)  2022  11  19  117  26.3  99.9  9
19  149180020  CHAŁUPKI  Odra (1)  2022  11  20  128  32.2  99.9  9
20  149180020  CHAŁUPKI  Odra (1)  2022  11  21  140  39.2  99.9  9
21  149180020  CHAŁUPKI  Odra (1)  2022  11  22  141  39.8  99.9  9
22  149180020  CHAŁUPKI  Odra (1)  2022  11  23  131  34.0  99.9  9
23  149180020  CHAŁUPKI  Odra (1)  2022  11  24  120  27.5  99.9  9
24  149180020  CHAŁUPKI  Odra (1)  2022  11  25  109  22.0  99.9  9
25  149180020  CHAŁUPKI  Odra (1)  2022  11  26  110  22.3  99.9  9
26  149180020  CHAŁUPKI  Odra (1)  2022  11  27  109  22.1  99.9  9
27  149180020  CHAŁUPKI  Odra (1)  2022  11  28  114  24.5  99.9  9
28  149180020  CHAŁUPKI  Odra (1)  2022  11  29  111  23.1  99.9  9
29  149180020  CHAŁUPKI  Odra (1)  2022  11  30  108  21.6  99.9  9

zmiana kodowanie hydro

In [17]:
import os

folder_path = "dane/main data/hydro 2021-2023/unzipped"
output_folder = "dane/main data/hydro 2021-2023/unzipped/utf8_files/"

os.makedirs(output_folder, exist_ok=True)

for file in os.listdir(folder_path):
    if file.endswith(".csv"):
        input_file = os.path.join(folder_path, file)
        output_file = os.path.join(output_folder, file)

        encoding = detect_encoding(input_file)
        
        if encoding in ["ISO-8859-1", "latin1"]:
            encoding = "cp1250" 

        with open(input_file, "r", encoding=encoding, errors="replace") as f:
            content = f.read()

        with open(output_file, "w", encoding="utf-8") as f:
            f.write(content)

        print(f"Przekonwertowano {file} do UTF-8")

Przekonwertowano codz_2021_01.csv do UTF-8
Przekonwertowano codz_2021_02.csv do UTF-8
Przekonwertowano codz_2021_03.csv do UTF-8
Przekonwertowano codz_2021_04.csv do UTF-8
Przekonwertowano codz_2021_05.csv do UTF-8
Przekonwertowano codz_2021_06.csv do UTF-8
Przekonwertowano codz_2021_07.csv do UTF-8
Przekonwertowano codz_2021_08.csv do UTF-8
Przekonwertowano codz_2021_09.csv do UTF-8
Przekonwertowano codz_2021_10.csv do UTF-8
Przekonwertowano codz_2021_11.csv do UTF-8
Przekonwertowano codz_2021_12.csv do UTF-8
Przekonwertowano codz_2022_01.csv do UTF-8
Przekonwertowano codz_2022_02.csv do UTF-8
Przekonwertowano codz_2022_03.csv do UTF-8
Przekonwertowano codz_2022_04.csv do UTF-8
Przekonwertowano codz_2022_05.csv do UTF-8
Przekonwertowano codz_2022_06.csv do UTF-8
Przekonwertowano codz_2022_07.csv do UTF-8
Przekonwertowano codz_2022_08.csv do UTF-8
Przekonwertowano codz_2022_09.csv do UTF-8
Przekonwertowano codz_2022_10.csv do UTF-8
Przekonwertowano codz_2022_11.csv do UTF-8
Przekonwertowano codz_2022_12.csv do UTF-8
Przekonwertowano codz_2023.csv do UTF-8

In [19]:
hydro_23 = pd.read_csv(f"dane\\main data\\hydro 2021-2023\\unzipped\\codz_2023.csv", sep=";",\
            names=['Kod stacji',\
                    'Nazwa stacji',\
                    'Nazwa rzeki/jeziora',\
                    'Rok',\
                    'Miesiąc',\
                    'Dzień',\
                    'Stan wody [cm]',\
                    'Przepływ [m^3/s]',\
                    'Temperatura wody [st. C]',\
                   'Miesiąc kalendarzowy'])

połączenie plików hydro

In [21]:
import pandas as pd
 
hydro_csv_concat = []
 
# połączenie plików
for file in csv_names_hydro:
    hydro_csv_concat.append(pd.read_csv(f"dane\\main data\\hydro 2021-2023\\unzipped\\utf8_files\\{file}",\
#                                         encoding = "latin1", 
                                        sep=",",\
            names=['Kod stacji',\
                    'Nazwa stacji',\
                    'Nazwa rzeki/jeziora',\
                    'Rok',\
                    'Miesiąc',\
                    'Dzień',\
                    'Stan wody [cm]',\
                    'Przepływ [m^3/s]',\
                    'Temperatura wody [st. C]',\
                    'Miesiąc kalendarzowy']))

# dodanie roku 2023
hydro_csv_concat.append(pd.read_csv(f"dane\\main data\\hydro 2021-2023\\unzipped\\codz_2023.csv", sep=";",\
            names=['Kod stacji',\
                    'Nazwa stacji',\
                    'Nazwa rzeki/jeziora',\
                    'Rok',\
                    'Miesiąc',\
                    'Dzień',\
                    'Stan wody [cm]',\
                    'Przepływ [m^3/s]',\
                    'Temperatura wody [st. C]',\
                   'Miesiąc kalendarzowy']))

hydro_csv_concat = pd.concat(hydro_csv_concat, ignore_index=True)

In [22]:
hydro_csv_concat

,Kod stacji,Nazwa stacji,Nazwa rzeki/jeziora,Rok,Miesiąc,Dzień,Stan wody [cm],Przepływ [m^3/s],Temperatura wody [st. C],Miesiąc kalendarzowy
0,149180020,CHAŁUPKI,Odra (1),2021,1,1,185,72.70,99.9,11
1,149180020,CHAŁUPKI,Odra (1),2021,1,2,184,71.60,99.9,11
2,149180020,CHAŁUPKI,Odra (1),2021,1,3,198,83.40,99.9,11
3,149180020,CHAŁUPKI,Odra (1),2021,1,4,236,121.00,99.9,11
4,149180020,CHAŁUPKI,Odra (1),2021,1,5,253,136.00,99.9,11
...,...,...,...,...,...,...,...,...,...,...
906261,149190250,JABŁONKA,Piekielnik (82224),2023,12,27,155,2.32,99.9,10
906262,149190250,JABŁONKA,Piekielnik (82224),2023,12,28,174,5.64,99.9,10
906263,149190250,JABŁONKA,Piekielnik (82224),2023,12,29,158,2.87,99.9,10
906264,149190250,JABŁONKA,Piekielnik (82224),2023,12,30,150,1.48,99.9,10
906265,149190250,JABŁONKA,Piekielnik (82224),2023,12,31,147,1.07,99.9,10

In [23]:
# hydro_csv_concat[hydro_csv_concat == 149180020]

### Dodanie daty roku kalendarzowego jako kolumny (na bazie daty roku hydrologicznego)

In [24]:
def adjust_year(row):
    if row['Miesiąc'] == 1 or row['Miesiąc'] == 2:  # Jeśli miesiąc to 1 lub 2, zmieniamy rok
        return row['Rok'] - 1
    return row['Rok']  # W przeciwnym razie rok pozostaje bez zmian

# Modyfikacja kolumny 'rok'
hydro_csv_concat['Rok kalendarzowy'] = hydro_csv_concat.apply(adjust_year, axis=1)

In [25]:
hydro_csv_concat['Data'] = pd.to_datetime(hydro_csv_concat.rename(columns={'Dzień': 'day', 'Miesiąc kalendarzowy': 'month', 'Rok kalendarzowy': 'year'})\
                                  [['year', 'month', 'day']])

In [26]:
hydro_csv_concat

,Kod stacji,Nazwa stacji,Nazwa rzeki/jeziora,Rok,Miesiąc,Dzień,Stan wody [cm],Przepływ [m^3/s],Temperatura wody [st. C],Miesiąc kalendarzowy,Rok kalendarzowy,Data
0,149180020,CHAŁUPKI,Odra (1),2021,1,1,185,72.70,99.9,11,2020,2020-11-01
1,149180020,CHAŁUPKI,Odra (1),2021,1,2,184,71.60,99.9,11,2020,2020-11-02
2,149180020,CHAŁUPKI,Odra (1),2021,1,3,198,83.40,99.9,11,2020,2020-11-03
3,149180020,CHAŁUPKI,Odra (1),2021,1,4,236,121.00,99.9,11,2020,2020-11-04
4,149180020,CHAŁUPKI,Odra (1),2021,1,5,253,136.00,99.9,11,2020,2020-11-05
...,...,...,...,...,...,...,...,...,...,...,...,...
906261,149190250,JABŁONKA,Piekielnik (82224),2023,12,27,155,2.32,99.9,10,2023,2023-10-27
906262,149190250,JABŁONKA,Piekielnik (82224),2023,12,28,174,5.64,99.9,10,2023,2023-10-28
906263,149190250,JABŁONKA,Piekielnik (82224),2023,12,29,158,2.87,99.9,10,2023,2023-10-29
906264,149190250,JABŁONKA,Piekielnik (82224),2023,12,30,150,1.48,99.9,10,2023,2023-10-30
906265,149190250,JABŁONKA,Piekielnik (82224),2023,12,31,147,1.07,99.9,10,2023,2023-10-31

Eksport połączonych danych hydrologicznych do pliku

In [27]:
from pathlib import Path  
filepath = Path('dane/main data/hydro_merged_data_2.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
hydro_csv_concat.to_csv(filepath)

### ostateczne połączenie zbiorów (inner join)

In [27]:
df_merged = pd.merge(klimat_csv_concat, hydro_csv_concat,\
                on=['Nazwa stacji', 'Data'], how='inner')


df_merged

,Kod stacji_x,Nazwa stacji,Rok_x,Miesiąc_x,Dzień_x,Maksymalna temperatura dobowa [°C],Status pomiaru TMAX,Minimalna temperatura dobowa [°C],Status pomiaru TMIN,Średnia temperatura dobowa [°C],...,Kod stacji_y,Nazwa rzeki/jeziora,Rok_y,Miesiąc_y,Dzień_y,Stan wody [cm],Przepływ [m^3/s],Temperatura wody [st. C],Miesiąc kalendarzowy,Rok kalendarzowy
0,249180010,PSZCZYNA,2021,1,1,0.7,NaN,-1.6,NaN,-0.6,...,149180220,Pszczynka (2116),2021,3,1,220,0.690,99.9,1,2021
1,249180010,PSZCZYNA,2021,1,2,3.9,NaN,-2.4,NaN,0.5,...,149180220,Pszczynka (2116),2021,3,2,219,0.680,99.9,1,2021
2,249180010,PSZCZYNA,2021,1,3,5.4,NaN,-0.4,NaN,2.0,...,149180220,Pszczynka (2116),2021,3,3,219,0.670,99.9,1,2021
3,249180010,PSZCZYNA,2021,1,4,6.4,NaN,-0.1,NaN,2.2,...,149180220,Pszczynka (2116),2021,3,4,222,0.870,99.9,1,2021
4,249180010,PSZCZYNA,2021,1,5,2.2,NaN,-0.6,NaN,0.6,...,149180220,Pszczynka (2116),2021,3,5,261,3.390,99.9,1,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20417,254220090,OLECKO,2020,12,27,-0.2,NaN,-3.2,NaN,-2.1,...,154220060,Jez. Olecko Wielkie (2626139),2021,2,27,240,99999.999,99.9,12,2020
20418,254220090,OLECKO,2020,12,28,3.1,NaN,-2.4,NaN,0.9,...,154220060,Jez. Olecko Wielkie (2626139),2021,2,28,240,99999.999,99.9,12,2020
20419,254220090,OLECKO,2020,12,29,5.4,NaN,2.6,NaN,4.0,...,154220060,Jez. Olecko Wielkie (2626139),2021,2,29,240,99999.999,99.9,12,2020
20420,254220090,OLECKO,2020,12,30,3.9,NaN,0.0,NaN,1.8,...,154220060,Jez. Olecko Wielkie (2626139),2021,2,30,240,99999.999,99.9,12,2020
20421,254220090,OLECKO,2020,12,31,2.8,NaN,-1.8,NaN,-0.5,...,154220060,Jez. Olecko Wielkie (2626139),2021,2,31,241,99999.999,99.9,12,2020

In [30]:
df_merged['Data']

0       2021-01-01
1       2021-01-02
2       2021-01-03
3       2021-01-04
4       2021-01-05
           ...
20417   2020-12-27
20418   2020-12-28
20419   2020-12-29
20420   2020-12-30
20421   2020-12-31
Name: Data, Length: 20422, dtype: datetime64[ns]

In [28]:
df_merged.shape

(20422, 29)

In [31]:
df_merged.columns.values

array(['Kod stacji_x', 'Nazwa stacji', 'Rok_x', 'Miesiąc_x', 'Dzień_x',
       'Maksymalna temperatura dobowa [°C]', 'Status pomiaru TMAX',
       'Minimalna temperatura dobowa [°C]', 'Status pomiaru TMIN',
       'Średnia temperatura dobowa [°C]', 'Status pomiaru STD',
       'Temperatura minimalna przy gruncie [°C]', 'Status pomiaru TMNG',
       'Suma dobowa opadów [mm]', 'Status pomiaru SMDB',
       'Rodzaj opadu [S/W/]', 'Wysokość pokrywy śnieżnej [cm]',
       'Status pomiaru PKSN', 'Data', 'Kod stacji_y',
       'Nazwa rzeki/jeziora', 'Rok_y', 'Miesiąc_y', 'Dzień_y',
       'Stan wody [cm]', 'Przepływ [m^3/s]', 'Temperatura wody [st. C]',
       'Miesiąc kalendarzowy', 'Rok kalendarzowy'], dtype=object)

### generowanie jednego pliku csv ze wszystkimi danymi

In [32]:
from pathlib import Path  
filepath = Path('dane/main data/hydro_klimat_merged_data_2.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

Zamiana niezakodowanych znaków w kolumnie Nazwa rzeki/jeziora i ponowny zapis do pliku csv

In [16]:
import pandas as pd
dane = pd.read_csv('dane/main data/hydro_klimat_merged_data_2.csv')
dane['Nazwa rzeki/jeziora'] = dane['Nazwa rzeki/jeziora'].str.upper().str.replace('£', 'Ł', regex=False)
dane['Nazwa rzeki/jeziora'] = dane['Nazwa rzeki/jeziora'].str.upper().str.replace('Ñ', 'Ń', regex=False)
dane['Nazwa rzeki/jeziora'] = dane['Nazwa rzeki/jeziora'].str.upper().str.replace('¯', 'Ż', regex=False)
dane['Nazwa rzeki/jeziora'] = dane['Nazwa rzeki/jeziora'].str.upper().str.replace('Ê', 'Ę', regex=False)
dane['Nazwa rzeki/jeziora'] = dane['Nazwa rzeki/jeziora'].str.upper().str.replace('Œ', 'Ś', regex=False)
dane['Nazwa rzeki/jeziora'] = dane['Nazwa rzeki/jeziora'].str.upper().str.replace('¥', 'Ą', regex=False)

In [17]:
dane['Nazwa rzeki/jeziora'].drop_duplicates()

0                      PSZCZYNKA (2116)
31                  CZARNA ORAWA (8222)
32                   PIEKIELNIK (82224)
93                        DUNAJEC (214)
94                         STRWIĄŻ (76)
155               NIEDZICZANKA (214172)
186                   PORONIEC (214128)
217                         RABA (2138)
218                     MSZANKA (21382)
279                            SAN (22)
310                       CZARNA (2178)
341                     WOLBÓRKA (2546)
372                           BUG (266)
403               JEZ. SŁAWSKIE (15619)
404            RADZYŃSKA STRUGA (15614)
465                           WISŁA (2)
496                        WISŁOK (226)
527                           INA (198)
558      JEZ. RADUŃSKIE GÓRNE (4868119)
559                      RADUNIA (4868)
560                 BORUCINKA (4868114)
651       JEZ. OLECKO WIELKIE (2626139)
19199                     POPRAD (2142)
Name: Nazwa rzeki/jeziora, dtype: object

In [19]:
from pathlib import Path  
filepath = Path('dane/main data/hydro_klimat_merged_data_3.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
dane.to_csv(filepath)